INSTAGRAM_SESSIONID=
INSTAGRAM_BASE_URL=https://i.instagram.com/api/v1
INSTAGRAM_SESSION_PATH=session.json

INSTAGRAM_SCOPE=posts
INSTAGRAM_CONTENT=
INSTAGRAM_DM_KIND=all

INSTAGRAM_BEFORE=
INSTAGRAM_AFTER=
INSTAGRAM_LIMIT=0

INSTAGRAM_THROTTLE_MS=2000
INSTAGRAM_SCAN_THROTTLE_MS=350
INSTAGRAM_SCAN_CONCURRENCY=4
INSTAGRAM_DRY_RUN=true
INSTAGRAM_HIDE_THREADS=false

PRUNER_HISTORY_DIR=history
